


#content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#card {
  padding: 10px;
  width: 500px;
  min-height: 570px;
  background-color: rgb(72, 86, 102);
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  border-radius: 9px;
  display: flex;
  flex-flow: column wrap;
  max-width: 80%;
}

#cardHeader {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

#cardContent {
  flex-grow: 1;
  width: 100%;
  display: grid;
  grid-auto-rows: 1fr;
}

#cardContent > div {
  font-size: 1.5rem;
  margin-top: 10px;
  border-top: 3px dashed black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cardContent > div > div {
  font-size: 2rem;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultImage {
  width: 180px;
}


#buttonpad  {
  display: flex;
  justify-content: space-between;
}

#buttonpad > button {
  width: 30%;
  font-size: 1rem;
}

#result {
  width: 300px;
  height: 100px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  border-radius: 25px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  z-index: 99;
  visibility: hidden;
}


