* {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 2px;
  background-color: #fff;
  font-weight: 600;
  box-shadow: 1px 2px 3px  rgb(83, 83, 83);
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(182, 182, 182);
}

.btn:active {
  transform: translate(0px, 1px);
  box-shadow: 1px 0px 3px rgb(83, 83, 83);
}

#container {
  min-height: 100vh; 
  width: 100%;
  position: relative;
  background-color: #202124;
  color: white;
  overflow: hidden;
}

#header {
  background-color: #161B22 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 4em;
}

#principalTitle {
  margin-left: 20px;
  font-size: 1.5em;

}

#icons {
  width: 8em;
  float: right;
  display: flex;
  justify-content: space-evenly;
}

#icons > a > img , #icons > a{
  width: 2em;
}

#content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#contentTitle {
  font-size: 1.5em;
  height: 4em;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 5px;
}

#exerciseList  {
  min-height: 20em;
  margin: 20px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr))
  

}

.exercise {
  width: fit-content;
  min-width: 400px;
  height: 80px;
  font-size: 2em;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #000;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(130,125,125,1) 100%);
  color: #000;
  box-shadow: 2px 2px;
}

#homePageBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  bottom: 5vh;
  margin-left: 20px;
}

#homePageBtn > form > button {
  background-color: #202120;
  color: #fff;
  border: 1px solid white;
  border-radius: 4px;
}

#footer {
  width: 100vw;
  height: 3vh;
  font-size: 2vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.buttonPanel {
  background-color: #3d3e42;
  margin: 10px;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid rgb(124, 123, 123);
  box-shadow: 1px 1px 2px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttonPanel > * {
  width: fit-content;
}